!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.witepress/cache
/packages/wite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
playground-test
temp
TODOs.md
.eslintcache
